.box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.welcome {
  font-size: 17px;
  font-weight: bold;
  color: white;
  margin-top: 4rem;
}

.input-login-dentist {
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 0px 1px 4px 0px #000000;
  width: 16rem;
  height: 34px;
  border-color: #001b30;
  padding: 1rem;
}

.login-dentist-btn {
  border-radius: 50px;
  width: 140px;
  height: 47px;
  color: white;
  background-color: #0493cf;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  box-shadow: 0px 2px 2px #000000;
}