*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Callibri', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0493CF;
}

.nav-list {
  list-style-type: none;
}

.nav-list,
.list-item {
  display: inline-block;
  padding: 20px 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.logo-img {
  width: 20vw;
  height: 11vh;
  margin-left: 4rem;
}

footer {
  background-color: #001B30;
  padding: 50px 0;
  color: #ffffff;
  bottom: 0;
}

.footer-content {
  max-width: 100vw;
  padding: 0 4%;
  margin: auto;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-column-nav {
  padding: 0 15px;
  margin-top: 1.2rem;
}

.footer-list {
  list-style-type: none;
}

.footer-list-item {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  list-style-type: none;
  line-height: 1.5rem;
}

.footer-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer-column-nav-2 {
  margin-right: 0.5rem;
  margin-top: 1.2rem;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img-footer {
  width: 20vw;
  height: 11vh;
}

.footer-line {
  background-color: #009BDD;
  height: 3px;
  width: 35vw;
  border: none;
  margin: 0.2rem 0 1.5rem 0;
}

.socials-icons {
  display: flex;
  gap: 2rem;
}

.copyright {
  margin-top: 2rem;
}